<style>
p{

    margin-bottom: 10px;

}
</style>

<section class="container content-section text-center" >
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-lg-8 col-lg-offset-2">
          <h1 class="my-4 ">Pet's Royalcare <br>
            <small>Encantados de conocerte!</small>
          </h1>

            <p >Pet's RoyalCare se crea para entregar los mejores productos para nuestras mascotas, con tal de protegerlos y regalonearlos como se merecen. El equipo se crea con dos ex-voluntarios de rescate de mascotas, con tal de conseguir recursos para el cuidado de sus mascotas y para cuidar principalmente perros de la calle, mientras se les busca un hogar definitivo.</p>

        </div>
    </div>

    <div class="container">

      <div class="row">
        <div class="col-lg-12">
          <h2 class="my-4" align="left">Equipo</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4" style= "margin-bottom: 20px">
          <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">

          <h3>Choly <br>
            <small>Impulsora</small>
          </h3>
          <p>Choly tiene más de 15 años junto a Lily, ella es una de las principales razones para crear la marca y velar por el cuidado e nuestras mascotas.</p>
        </div>

        <div class="col-lg-4 col-sm-6 text-center mb-4" style= "margin-bottom: 20px">
          <%= image_tag("Perro_collar_arnes.JPG", size:"200x200", class:"rounded-circle img-fluid d-block mx-auto"  ) %>
          <h3>Sam <br>
            <small>Modelo e Impulsor</small>
          </h3>
          <p>Sam lleva más de 2 años con nosotros, fue adoptado desde un refugio. Hoy en día es uno de los modelos para mostrar los productos, además de testear su calidad.</p>
          <a href="https://www.instagram.com/the_sam_time" style="color:#e4405f" target="_blank"><i class="fa fa-instagram" aria-hidden="true" style="font-size:48px"> </i> </a>
        </div>


        <div class="col-lg-4 col-sm-6 text-center mb-4" style= "margin-bottom: 20px" >
          <%= image_tag("Perro_mochila_zapatos.JPG", size:"200x200", class:"rounded-circle img-fluid d-block mx-auto"  ) %>
          <h3>Suri <br>
            <small>Modelo e Impulsor</small>
          </h3>
          <p>Suri lleva más de 4 años con nosotros, fue encontrado en la calle. Hoy es modelo de la marca y es la razón de que tengamos zapatos, para el cuidado de sus patitas.</p>
          <a href="https://www.instagram.com/the_suri_dog/" style="color:#e4405f" target="_blank"
           ><i class="fa fa-instagram" aria-hidden="true" style="font-size:48px"> </i> </a>
        </div>

        <div class="col-lg-4 col-sm-6 text-center mb-4" style= "margin-bottom: 20px">
          <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
          <h3>Lily Montero <br>
            <small>Co-Fundadora</small>
          </h3>
          <p>Hoy en día, Lily se encarga de la compra de productos y la promoción.</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4" style= "margin-bottom: 20px">
          <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
          <h3>Benjamín Núñez <br>
            <small>Co-Fundador</small>
          </h3>
          <p>Hoy en día, no hace nada </p>
        </div>

      </div>

    </div>

</section>
