<style>
.headline{
  display: block;
  margin: 10px 0 25px 0;
  border-bottom: 1px dotted #e4e9f0;
}
.lin{
  font-size: 18px;
}

</style>

<div class="img-contact" > </div>
<section class="container" style="padding-top: 50px;padding-bottom: 50px;">

    <div class="row">
        <div class="col-lg-8 mx-auto" style="margin-left: 35px;">
            <h2>Contacto Pet's RoyalCare</h2>
            <p>Envianos en mail para consultarnos acerca de algún producto o bien para hablarnos sobre tu mascota. Estaremos disponibles para responder todas tus inquietudes.</p>
            <p><a href="mailto:petsroyalcare@gmail.com" style="color: blue" class="animated">petsroyalcare@gmail.com</a>
            </p>


            <h2>Redes Sociales  <small> Siguenos! </small></h2>
            <p>Tambien puedes ingresar a nuestra página en Facebook, para obtener mayor información y dejar tu comentario. O visitarnos en Instagram donde publicaremos nuestras fotos y las de algunos clientes.</p>

            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://facebook.com/petsroyalcare" class="btn btn-default btn-lg lin" target="_blank"><i class="fa fa-facebook-official"></i> <span class="network-name">Facebook</span></a>
                </li>

                <li>
                    <a href="https://instagram.com/petsroyalcare/" class="btn btn-default2 btn-lg lin" target="_blank"><i class="fa fa-instagram"></i> <span class="network-name">Instagram</span></a>
                </li>

            </ul>
        </div>
        <div class="col-lg-3 mx-auto" >
          <div class="headline">
            <h2 style="font-size:22px; color:#555" >Horario</h2>
          </div>

            <li class="lin">
              <strong> Lunes-Viernes: </strong> 10am a 8pm

            <li class="lin">
              <strong> Sábado: </strong> 10am a 3pm
            </li>
            <li class="lin">
              <strong> Domingo: </strong> Cerrado
            </li>

        </div>
    </div>

</section>
