
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Permanent+Marker" />
<!-- Intro Header -->
<section class="masthead intro ">
    <div class="intro-body" >
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2" >
                    <span style="display:block; height: 0px;"></span>
                    <h1 class="brand-heading" style="font-family: Permanent Marker">Pet's RoyalCare</h1>

                    <a href="<%= products_path%>" class="btn btn-circle page-scroll " style=" padding-left: 13px; padding-top: 4px;">

                        <i class="fa fa-shopping-cart animated" ></i> <br>
                        <p style="width:130px; text-align:middle "> <strong>Tienda </strong></p>
                    </a>

                    <span style="display:inline-block; width: 35px;"> </span>
                    <a href="<%=adoption_pets_path%>" class="btn btn-circle page-scroll"  style="padding-left: 15px;    padding-top: 4px;">

                        <i class="fa fa-paw animated"></i><br>
                        <p style="width:130px; text-align:middle; "> <strong>Rescate </strong></p>




                    </a>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Download Section -->
