<div class="content-md container" style="margin-top: 15px; margin-bottom:15px">
  <!--=== Product Service ===-->
  <div class="row margin-bottom-60">
    <div class="col-md-8 product-service md-margin-bottom-30">
      <div class="product-service-heading">
        <i class="fa fa-truck"></i>
      </div>
      <div class="product-service-in">
        <h3>Envío </h3>
        <p style="font-size:18px; text-align:left">
            <strong>Express: </strong>Servicio de entrega rápida en cualquier parte de Chile. <br>
            <strong>Personalizado:  </strong>Servicio de entrega personalizada, con testeo de producto.<br>
            <strong style="font-size:15px; margin-left:15px">Despacho gratis por compras sobre $20.000, en la Ciudad de Santiago.</strong>
        </p>
      </div>
    </div>

    <div class="col-md-4 product-service">
      <div class="product-service-heading">
        <i class="fa fa-refresh"></i>
      </div>
      <div class="product-service-in">
        <h3>Cambios de Producto</h3>
        <p style="font-size:18px; text-align:left">Recuerda siempre de mantener las etiquetas en el producto para hacer válido el cambio. Para esto, las etiquetas deben permanecer intactas.</p>

      </div>
    </div>
  </div><!--/end row-->
</div>
