
<div class="footer-v2">
    <div class="footer-ben" >
        <div class="container">
        <div class="row">
          <!-- About -->

          <!-- End About -->

          <!-- Link List -->
          <div class="col-md-4 md-margin-bottom-40">
            <div class="headline"><h2 class="heading-sm"> Servicios y Convenios</h2></div>
            <ul class="list-unstyled link-list">

              <li><a href="<%= products_path%>">Tienda </a><i class="fa fa-angle-right"></i></li>
              <li><a href="<%= home_rescue_path%>">Mascotas en Adopción </a><i class="fa fa-angle-right"></i></li>
              <li><a href="#">Convenios </a><i class="fa fa-angle-right"></i></li>

            </ul>
          </div>
          <!-- End Link List -->

          <div class="col-md-4 md-margin-bottom-40">
            <div class="headline"><h2 class="heading-sm">Contacto</h2></div>

            <address class="md-margin-bottom-40">

              <!-- Address <i class="fa fa-home"></i>colina del sur 9769 #2 <br />
              <i class="fa fa-phone"></i>Phone: +569 98866819 <br />-->
              <i class="fa fa-globe"></i>Website: <a href="<%=home_index_path%>" style="color:black">www.petsroyalcare.cl</a> <br />
              <i class="fa fa-envelope"></i>Email: <a href="mailto:petsroyalcare@gmail.com" style="color:black">petsroyalcare@gmail.com</a>
            </address>

            <!-- Social Links -->
            <ul class="social-icons" style="align:center">
              <li><a href="https://facebook.com/petsroyalcare" target="_blank" data-original-title="Facebook" class=" social_facebook"></a></li>

              <li><a href="https://instagram.com/petsroyalcare/" target="_blank" data-original-title="Instagram" class=" social_instagram" ></a></li>

            </ul>
            <!-- End Social Links -->
          </div>
          <!-- End Address -->
          <div class="col-lg-4 mx-auto" >
            <div class="headline">
              <h2 style="font-size:22px; color:#555" >Horario</h2>
            </div>

              <li >
                <strong> Lunes-Viernes: </strong> 10am a 8pm

              <li>
                <strong> Sábado: </strong> 10am a 3pm
              </li>
              <li>
                <strong> Domingo: </strong> Cerrado
              </li>

          </div>
        </div>
      </div>
    </div><!--/footer-->

    <div class="copyright ">
      <center>
      <div class="container ">
        <p class="text-center" style="font-family:Lora">2018 &copy; All Rights Reserved. Pet's RoyalCare</p>
      </div>
    </center>
    </div><!--/copyright-->
  </div>
