// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product_sale {
  position: absolute;
  z-index: 99;
  right: -28px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.product_sale p {
  margin: 0;
  color: #fff;
  background: #ff0000;
  padding: 3px 25px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.4);
}


/*Filter By Block
------------------------------------*/
/*Panel Group*/
.filter-by-block h1 {
	color: #fff;
	width: 100%;
	font-size: 24px;
	padding: 7px 10px;
	text-align: center;
	margin-bottom: 5px;
	background: orange;
	text-transform: uppercase;
}

.filter-by-block .panel-default {
	border-color: #dedede;
}

.filter-by-block .panel-heading {
	padding: 0;
	background: inherit;
}

.filter-by-block .panel-title {
	overflow: hidden;
}

.filter-by-block .panel-group h2 a {
	color: #687074;
	display: block;
	font-size: 20px;
	padding: 10px 15px;
	border-bottom: 1px solid #dedede;
}

.filter-by-block .panel-group h2 i {
	float: right;
	font-size: 18px;
	margin-top: 8px;
}

.filter-by-block .panel-group h2 a:hover {
	color: #687074;
	text-decoration: none;
}

.filter-by-block .panel-body {
	padding: 15px 20px;
	border-top: none !important;
}

/*Checkbox List*/
.checkbox-list {
	margin-bottom: 0;
}

.checkbox-list li {
	margin-top: 10px;
}

.checkbox-list li:first-child {
	margin-top: 0;
}

.checkbox-list .checkbox {
	display: block;
	overflow: hidden;
	position: relative;
}

.checkbox-list .checkbox {
	color: #999;
	margin: 4px 0;
	cursor: pointer;
	font-size: 14px;
	line-height: 25px;
	padding-left: 27px;
}

.checkbox-list .checkbox input {
	left: -9999px;
	position: absolute;
}

.checkbox-list .checkbox i {
	left: 0;
	top: 5px;
	width: 15px;
	height: 15px;
	outline: none;
	display: block;
	background: #fff;
	border-width: 2px;
	position: absolute;
	border-style: solid;
}

.checkbox-list .checkbox input + i:after {
	opacity: 0;
	position: absolute;
}

.checkbox-list .checkbox input + i:after {
	top: -3px;
	left: -2px;
	width: 15px;
	height: 15px;
	content: '\f00c';
	text-align: center;
	font: normal 8px/17px FontAwesome;
}

.checkbox-list .checkbox input:checked + i:after {
	opacity: 1;
}

.checkbox-list .checkbox i {
	border-color: #999;
	transition: border-color 0.3s;
}

.checkbox-list .checkbox:hover i {
	border-color: orange;
}

.checkbox-list .checkbox input:focus + i {
	border-color: orange;
}

.checkbox-list .checkbox input + i:after {
	color: orange;
}
.checkbox-list .checkbox input:checked + i {
	border-color: orange;
}

.checkbox-list .checkbox small {
	float: right;
}

.checkbox-list .checkbox small a {
	color: #999;
	font-size: 13px;
}
